In [17]:
import pandas as pd

covid_data = pd.read_csv("data/covid_data.csv")
display(covid_data.head())

         date province/state country  confirmed  deaths  recovered
0  01/22/2020          Anhui   China        1.0     0.0        0.0
1  01/22/2020        Beijing   China       14.0     0.0        0.0
2  01/22/2020      Chongqing   China        6.0     0.0        0.0
3  01/22/2020         Fujian   China        1.0     0.0        0.0
4  01/22/2020          Gansu   China        0.0     0.0        0.0

In [9]:
vac = pd.read_csv("data/country_vaccinations.csv")

# Если мы хотим оставить только определенные столбцы из таблицы, достаточно указать следующим образом
vac = vac[
    ['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']
]

vac.head()

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.0,NaN,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [18]:
# Первой таблице данные представлены по каждому штату/провинции, а во второй по странам.
# Необходимо преобразовать первую таблицу и представить данные по странам.

covid_data = covid_data.groupby(
    ['date', 'country'], 
    as_index=False
)[['confirmed', 'deaths', 'recovered']].sum()

In [20]:
display(covid_data.head())

         date      country  confirmed  deaths  recovered
0  01/01/2021  Afghanistan    51526.0  2191.0    41727.0
1  01/01/2021      Albania    58316.0  1181.0    33634.0
2  01/01/2021      Algeria    99897.0  2762.0    67395.0
3  01/01/2021      Andorra     8117.0    84.0     7463.0
4  01/01/2021       Angola    17568.0   405.0    11146.0

In [21]:
covid_data["date"] = pd.to_datetime(covid_data["date"])

In [22]:
covid_data["active"] = covid_data["confirmed"] - covid_data["recovered"] - covid_data["deaths"]

In [24]:
# Создадим признак ежедневного прироста числа заболевших, умерших и выздоровевших людей. 
# Для этого отсортируем данные по названиям стран, а затем по датам. 
# После этого произведём группировку по странам и рассчитаем разницу между «вчера и сегодня» с помощью метода diff():

covid_data = covid_data.sort_values(by=["country", "date"])
covid_data["daily_confirmed"] = covid_data.groupby("country")["confirmed"].diff()
covid_data["daily_deaths"] = covid_data.groupby("country")["deaths"].diff()
covid_data["daily_recovered"] = covid_data.groupby("country")["recovered"].diff()

In [25]:
covid_data.head()

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered
11337,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,NaN,NaN,NaN
11570,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
11807,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12051,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12299,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [26]:
vac["date"] = pd.to_datetime(vac["date"])